<div class="blockquote pb-2 quotediv">
  <p><%= @question %></p>
  <p><i>-You</i></p>
</div>


<div class="blockquote pb-2 quotediv quotediv--yellow">
  <p><%= @answer %></p>
  <p><i>-Le Coach</i></p>
</div>
<%= link_to "Ask another question", ask_path %>
